h1 {
    color: yellow;
    font-family: monospace;
    font-size: 50pt;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: blue;
}

h2 {
    color: yellow;
    font-family: monospace;
    font-size: 30pt;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: blue;
}

h3 {
    color: yellow;
    font-family: monospace;
    font-size: 18pt;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13pt;
    color: rgb(0, 0, 0);
}

a:visited {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13pt;
    color: rgb(196, 49, 196);
}

body {
    background-image: url("johto-sunset-test.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

p {
    background-color: rgb(255, 228, 196, 0.7);
    border: 5px ridge cyan;
    box-shadow: 5px 5px;
    font-size: 13pt;
    display: inline-block;
    padding: 5px;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    box-shadow: 5px 5px;
    padding: 10px;
    border: 7px ridge silver;
    background-image: url("pokeball-header-bg-test.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Next section contains styling for the table of pokemon types */

#tablehead {
    font-family: serif;
    color: yellow;
    font-family: monospace;
    font-size: 18pt;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: blue;
}

td {
    color: white;
    font-size: 14pt;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

#normal {
    position: center;
    background-color: gray;
}

#fire {
    background-color: red;
}

#water {
    background-color: blue;
}

#grass {
    background-color: forestgreen;
}

#rock {
    background-color: rgb(88, 42, 10);
}

#fighting {
    background-color: maroon;
}

#psychic {
    background-color: fuchsia;
}

#ghost {
    background-color: indigo;
}

#bug {
    background-color: olivedrab;
}

#poison {
    background-color: purple;
}

#flying {
    background-color: skyblue;
}

#electric {
    background-color: gold;
}

#ground {
    background-color: chocolate;
}

#ice {
    background-color: cyan;
}

#dragon {
    background-color: darkblue;
}

#dark {
    background-color: darkslategray;
}

#steel {
    background-color: dimgray;
}

#fairy {
    background-color: hotpink;
}

/*End of styling for pokemon types */

/* Styling of Starter and Legendary pokemon*/

.carousel-inner img {
    display: inline-block !important;
}

.carousel-item {
    text-align: center;
}

.imagecol { /*Starters*/
    position: center;
    display: inline-block;
    padding: 10px;
    background-image: url("pokeball.png");
    background-size: 600px 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.imagecol2 { /*Mew and Mewtwo*/
    position: right;
    display: inline-block;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.imagecol2:hover {
    opacity: 1;
}

/* styles for 2nd page of website*/

#battle {
    border: 5px ridge gold;
    box-shadow: 5px 5px;
}

#TipsAndTricks {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13pt;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 5px 5px;
    border: 5px ridge silver;
    background-color: rgb(255, 228, 196, 0.7);
}